
<!DOCTYPE HTML>

<html>
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
 
    <link rel="stylesheet" href="~/css/main.css" rel="stylesheet" />
   

</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div>

						<!-- Logo -->
                        <div id="logo">
                            <img src="~/logo.jpeg" width="75"height="75" />
                            <h1><a href="index.html"></a></h1>
                        </div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current_page_item"><a href="index">HOME</a></li>
                                    <li ><a href="AboutUs">ABOUT US</a></li>
		                            <li ><a href="ACTIVITIES">ACTIVITIES</a></liclass="current_page_item">
									<li ><a href="GALLERY">GALLERY</a></li>
									<li ><a href="FOUNDERS">FOUNDERS</a></li>
									<li ><a href="DONATIONS">DONATIONS</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Banner -->
				<div id="banner">
					<div class="container">
						<section>
							<header>
								<h2>RAISING HANDS FOR HOPE</h2>
                                <span class="byline">To Become a Parents for Service to the Poor, Orphanage and Needy.</span>
							</header>
							<a href="AboutUs" class="button">KNOW MORE</a>
						</section>
					</div>
				</div>

			<!-- Intro -->
				<div id="intro">
					<div class="container">
						<section>
							<header>
                                <h2>Introduction</h2>
							</header>
							<div class="content">
                                <p style="text-align:justify;">
                                    We have Registered the Social Service Organization Head Office at Anaparthi With Regd.No.40/2017 on 07th February 2017. Previously we started as a Branch at Anaparthi on 09.07.2013 By the Name, “Raising Hands for Hope” through Hyderabad (Head Office) . We have served the poor by doing some Social activities at Anaparthi and Mandapeta Constituency by conducting Medical camp and distribution of Food, Clothes, Blankets to Orphanages & Road Side Beggars.
                                    After Registered at Anaparthi Head Office ( Regd.no. 40/2017 on 07.02.2017). Now Expanding as International Level social Service Organization by opening branches to all over Andhra pradesh & Other States in India and also other Country’s like African’s etc., . We are Targeting all College Students , Employees , Area wise & Political wise all the youth members for Creating Awareness & Encouraging for Doing Social Service Activities to help Poor Peoples at Orphanage homes, Road Side Beggars and financial Help to Health related Problems etc.,
                                </p>
							</div>
						</section>
					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">

						<!-- Row #1 -->

							<ul class="featured">
								<li>
									<span class="pennant"><span class="icon  fa-expand"></span></span>
                                    <h3>Expanding</h3>
                                    <p style="text-align:justify;"> To Expand our Organization to all the Places in East Godavari By collecting Blood Donors List from College Students & Outsiders registered with Friend’s to Support & Anaparthi Blood Donors app.</p>
								</li>
								<li>
									<span class="pennant"><span class="icon fa-server"></span></span>
                                    <h3>Serves</h3>
                                    <p style="text-align:justify;">To Serve the Orphanage Homes & Road Side Beggars</p>
								</li>
                                <li>
                                    <span class="pennant"><span class="icon fa-info"></span></span>
                                    <h3>Information</h3>
                                    <p style="text-align:justify;">To Pass the Information Regarding Job vacancies & Education Details to Students.</p>
                                    
                                </li>
								<li>
									<span class="pennant"><span class="icon fa-road"></span></span>
                                    <h3>Provides</h3>
                                    <p style="text-align:justify;">To Conduct RTC Bus pass Campaigns to students in colleges</p>
								</li>
								<li>
									<span class="pennant"><span class="icon fa-tag"></span></span>
                                    <h3>Motivation</h3>
                                    <p>To make Short Moral Videos for Motivation.</p>
								</li>
								<li>
									<span class="pennant"><span class="icon fa-globe"></span></span>
                                    <h3>Awearness</h3>
                                    <p>To Conduct Awareness Programs </p>
								</li>
								<li>
									<span class="pennant"><span class="icon fa-key"></span></span>
                                    <h3>Helping</h3>
                                    <p>To extend Financial Help to people with Health Problems and towards Education </p>
								</li>
								<li>
									<span class="pennant"><span class="icon fa-bullhorn"></span></span>
                                    <h3>Volunteers</h3>
                                    <p>We have 1400 volunteers and 125 coordinators for our organization. </p>
								</li>
							</ul>

						

					</div>
				</div>

			<!-- Staff -->
				<div id="staff">
					<div class="container">
						<section>
							<header>
								<h2>Founders</h2>
							</header>
                            <ul class="staff">
                                <li><a href="#"><img src="images/placeholder.png" alt=""></a></li>
                                <li><a href="#"<img src="~/WhatsApp Image 2019-06-11 at 8.35.33 AM.jpeg" /></a></li>

                                <li><a href="#"><img src="images/placeholder.png" alt=""></a></li>
                                <li><a href="#"> <img src="~/WhatsApp Image 2019-06-11 at 8.40.36 AM.jpeg" /></a></li>
                               
                                <li><a href="#"><img src="images/placeholder.png" alt=""></a></li>
                            </ul>
                            <p>
                                NALLAMILLI  ADI REDDY ( FOUNDER) – 9533252222<br />

                                ADDRESS :
                                S/O N.SATYA NARAYANA REDDY , D.NO : 9-101 , C/O : ASHOK MEDICALS & GENERAL STORES ,  SATHI POTHA REDDY , RAMALAYAM STREET OLDTOWN ANAPARTHY , PINCODE : 5333342 , ANDHRA PRADESH , INDIA
                            </p>
						</section>
					</div>
				</div>

<!-- Footer -->
				<section id="footer">
					<div class="container">
						<header>
							<h2>CONTACT US</h2>
						</header>

						<!-- Lists -->
								<ul class="lists">
									<li>
										<ul class="default">
											<li><a href="#">NALLAMILLI  ADI REDDY ( FOUNDER) – 9533252222</a></li>
											
											<li><a href="https://www.google.com/maps/search/Head+Office+:+D.No.+9+-+101,+C%2Fo+:+Ashok+Medicals+%26+General+Stores+++++ANAPARTHI+-+533+342,+E.G.Dt.,+A.P/16.9336496,81.9380052,14z/data=!3m1!4b1">
    Head Office : D.No. 9 - 101, C/o : Ashok Medicals & General Stores
    ANAPARTHI - 533 342, E.G.Dt., A.P
</a></li>
											
										</ul>
									</li>
									

						<!-- Social -->
							<section>
								<ul class="social">
									<li><a href="#" class="icon fa-facebook"><span>Facebook</span></a></li>
									<li><a href="#" class="icon fa-twitter"><span>Twitter</span></a></li>
									<li><a href="#" class="icon fa-linkedin"><span>Linkedin</span></a></li>
								</ul>
							</section>

						<!-- Copyright -->
							<div class="copyright">
								&copy; Raising Hands for Hope.
							</div>

					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>

